*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{

    position:fixed;

    left:0;

    top:0;

    width:220px;

    height:100vh;

    background:#1e293b;

    color:white;

    display:flex;

    flex-direction:column;

    padding:8px 12px;

}

.title{

    font-size:22px;

    font-weight:bold;

    margin-bottom:25px;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:14px;

    flex:1;
}

.menu-btn{

    border:none;

    background:#334155;

    color:white;

    padding:16px;

    border-radius:12px;

    cursor:pointer;

    text-align:left;

    font-size:16px;

    transition:.3s;
}

.menu-btn:hover{

    background:#1976d2;
}

.logout{

    background:#dc2626;

    margin-top:auto;
}

.logout:hover{

    background:#b91c1c;
}
.history-title{

    margin-top:20px;

    margin-bottom:10px;

    color:#cbd5e1;

    font-size:14px;

    font-weight:bold;

}

.history-item{

    width:100%;

    border:none;

    background:#334155;

    color:white;

    padding:12px;

    border-radius:10px;

    cursor:pointer;

    text-align:left;

    margin-bottom:8px;

    transition:.3s;

    overflow:hidden;

    white-space:nowrap;

    text-overflow:ellipsis;

}

.history-item:hover{

    background:#1976d2;

}

.history-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:100%;
    padding:10px 12px;
    margin-bottom:10px;

    background:#34415a;
    border-radius:10px;
}

.history-text{
    flex:1;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    cursor:pointer;

    color:white;
    font-size:14px;
}


.history-title{

    flex:1;

    overflow:hidden;

    white-space:nowrap;

    text-overflow:ellipsis;

    cursor:pointer;

}


.delete-btn{

    flex-shrink:0;

    background:none;

    border:none;

    cursor:pointer;

    font-size:18px;

}
.delete-btn:hover{

    color:red;

}

.actions{
    display:flex;
    gap:6px;
    margin-left:10px;

    flex-shrink:0;
}

.whatsapp {

    background: #25D366;
    color: white;

}

.whatsapp:hover {

    background: #1ebd5a;

}