<div class="sidebar">

    <div class="title">
        🩺 SwasthyaBot
    </div>

    <div class="menu">

        <button class="menu-btn" (click)="newChat()">

            ➕ New Chat

        </button>

        <h3 class="history-title">
            Recent Chats
        </h3>

        <button class="history-item" *ngFor="let conv of chat.conversations" (click)="chat.selectConversation(conv.id)">

            💬 {{ conv.title }}

        </button>

        <button class="menu-btn">
            👤 Profile
        </button>

    </div>

    <button class="menu-btn logout">
        🚪 Logout
    </button>

</div>